.fade-enter {
  opacity: 0;
}
.fade-exit {
  opacity: 1;
}
.fade-enter-active {
  opacity: 1;
}
.fade-exit-active {
  opacity: 0;
}
.fade-enter-active,
.fade-exit-active {
  transition: opacity 500ms;
}
.fadec-enter {
  opacity: 0;
  /* height: 2rem; */
  /* width: 50%; */
}
.fadec-exit {
  opacity: 0.5;
  /* height: 2rem; */
  /* width: 50%; */
}
.fadec-enter-active {
  opacity: 1;
  /* height: 10rem; */
  /* width: 100%; */
}
.fadec-exit-active {
  opacity: 0;
  /* height: 10rem; */
  /* width: 100%; */
}
.AddTodoFade-enter {
  opacity: 0.01;
  transform: translate(0px, -10px);
}
.AddTodoFade-exit {
  opacity: 1;
  transform: translate(0, 0);
}
.AddTodoFade-enter-active {
  opacity: 1;
  transform: translate(0, 0);
  transition: 400ms ease-in;
}
.AddTodoFade-exit-active {
  opacity: 0.01;
  transform: translate(0, 10px);
  transition: 400ms ease-in;
}
